<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="directory" value="d:\git"/>
		<add key="launcher" value="C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\devenv.exe" />
		<add key="GitName" value="Tino Dainese"/>
		<add key="GitEmail" value="tid@impact.dk"/>
		<add key="GitExtentions" value="C:\Program Files (x86)\GitExtensions\gitex.cmd"/>

	</appSettings>
</configuration>